QWidget#centralWidget {
    background-color: #ffffff;
}
QLabel {
    color: #cdd6f4;
    font-size: 16px;
    font-family: "Segoe UI";
}
QPushButton {
    background-color: #89b4fa;
    color: #1e1e2e;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
}
QPushButton:hover {
    background-color: #b4befe;
}

QPushButton#previous_btn {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    padding: 8px;
    background-color: #f38ba8;
}
QPushButton#control_btn{
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    padding: 0px;
    margin: 5px;
    background-color: #f38ba8;
}
QPushButton#next_btn{
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    padding: 8px;
    background-color: #f38ba8;
}

QLineEdit, QComboBox, QTextEdit, QListWidget {
    background-color: #313244;
    color: #cdd6f4;
    border: 1px solid #45475a;
    border-radius: 6px;
    padding: 4px;
}

QPixmap#album_image{
    border: 2px solid;
}
QLabel#music_title {
    padding: 0px;
    margin: 0px;
    border: 0px;
    qproperty-indent: 0;
    padding: 1px;
    min-width: 50px;
    max-width: 100px;
    max-height: 50px;
    color: #cdd6f4;
    font-family: "Segoe UI";
}

QLabel#artist_name {
    padding: 0px;
    margin: 0px;
    border: 0px;
    qproperty-indent: 0;
    min-width: 50px;
    min-height: 10px;
    max-width: 100px;
    max-height: 10px;
    font-size:8px;
    padding: 8px;
    color: #cdd6f4;
    font-family: "Segoe UI";
}

QLabel#empty_logo {
    text-align: center;
    color: #cdd6f4;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    font-family: "Segoe UI";
}
QPushButton#add_folder {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
QWidget#panel_musci_list{
    margin: 0px;
}
QWidget#panel_empty_list{
    background-color: #CCDDFFEE;
    border-radius: 5px;
    border: 2px solid #005F77;
    padding: 0px;
    margin: 0px;
}